.box-con{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #333333;
    z-index: 1999;
}
.box{
    z-index: 1000;
    height: 100px;
    width: 100px;
    background-color: #dedede;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    margin: auto;top: 0;bottom: 0;right: 0;left: 0;
    animation: roll 2s running infinite;

}
.box::before{
    content: "";
    position: absolute;
    height: 120px;
    width: 120px;
    background: linear-gradient(#aaa,#333);
    animation: roll1 2s running infinite;
}

    @keyframes roll {
      from{
        transform: translate(0, 0) rotateZ(0deg) ;
      }
      to{
        transform:translate(0, 0) rotateZ(360deg) ;
      }
    }
        @keyframes roll1 {
      from{
        transform: translate(-50%, -50%) rotateZ(0deg) ;
      }
      to{
          transform:translate(-50%,-50%) rotateZ(-360deg) ;
      }
    }