*{
    margin:0;
    padding:0;
}
#container{
    min-width: 1080px;
    min-height: 620px;
    position: absolute;
    width: 100vw !important;
    height: 100vh !important;
    background-color: #333;
}
nav{
    z-index: 999;
    position: absolute;
    min-height: 60px;
    width:96%;
    height: 7%;
    border-radius: 6px;
    background-color: #3e3e3e;
    margin: 2% auto auto auto;left: 0;right: 0;
    display: flex;
    align-items: center;
}
.nav-logo{
    margin-left: 2%;
    border-radius: 6px;
    position: relative;
    background: url("../icon/logo.png") no-repeat #dedede center;
    background-size: 90% 90%;
    min-height: 25px;
    min-width: 25px;
    width: 2.1vw;
    height: 2.1vw;
}
.nav-logoText{
    position: initial;
    margin-top: .1em;
    color: #dedede;
    margin-left: .3vw;
    font-size: 2em;
    font-weight: bold;
    font-family: "JetBrains Mono", math;
    letter-spacing: 1px;
}
.nav-button{
    min-width: 70px;
    margin-left: 2vw;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 6px;
    height: 60%;
    width: 5vw;
    text-align: center;
    color:#dedede;
    font-size: .3em;
    transition: 400ms;
    letter-spacing: 1px;
}
.nav-button:nth-child(3){
    margin-left: 3%;
}
.nav-button:hover{
    color: #dedede;
    font-weight: bold;
    background-color: #333333;
}
.nav-account{
    margin-right: 2vw;
    margin-left: auto;
    font-size: 1vw;
    display: flex;
    height: 100%;
    gap: 1vw;
    align-items: center;
}
.nav-account button{
    min-width: 80px;
    font-size: .8rem;
    color: #dedede;
    border: none;
    background:none;
    width: 5vw;
    height: 60%;
    border-radius: 6px;
    letter-spacing: 1px;
}
.nav-account button:hover{
    background:none;
    background: #333333;
    color: #dedede;
    transition: 400ms;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}
.nav-account button:nth-child(3){
    font-size: 1rem;
    background: #333333;
    color: #dedede;
    font-weight: bold;
    width: 6rem;
    height: 65%;
}
main{
    position: absolute;
    margin: auto;left: 0;right: 0;top: 12vh;bottom: 0;
    width: 94%;
    height: 80%;
    display: block;
}
.l-con{
    float: left;
    width: 49%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.r-con{
    float: right;
    width: 49%;
    height: 100%;
    flex-grow: 1;
    /*background: #5588ee;*/
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    gap: 2%;
}
.r-con *{
    border-radius: 8px;
}
.alarm{
    width: 49%;
    height: 50%;
    background-image: url("../alarm/jiuzhang.png");
    background-size: cover;
}
.nextSong{
    z-index: 2;
    width: 49%;
    height: 33%;
    background: url("../alarm/OIP-C.jpg") center;
    background-size: cover;
}
.next{
    z-index: 1;
    height: 13%;
    width: 49%;
    flex-direction: column;
    text-align: right;
}
.next h1,p{
    margin-right: .3vw;
    overflow: hidden;
    float: right;
    width: 60%;
    order: 1;
    z-index: 1;
    border-radius: 0;
    font-size: 2.1vw;
    color: #dedede;
}

.next p{
    border-radius: 0;
    font-size: 1.2vw;
    color: #aeaeae;
}
.hr{
    margin-top: -10%;
    margin-left: 10%;
    float: left;
    z-index: -1;
    background: #8d2d31;
    width: 5px;
    height: 145%;
}
.comment-con{
    width: 49%;
    height: 28%;
    background-color: #3e3e3e;
}
.comment{

    margin-top: 2%;
    margin-left: 6%;
    width: 94%;
    height: 44%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.comment *{
    border-radius: 0;
}
.prof{
    align-self: stretch;
    width: 3rem;
    height: 100%;
    align-items: center;
    display: flex;
}
.comment p2{
    align-self: flex-start;
    margin-top: 4%;
    width: 80%;
    font-size: .3em;
    letter-spacing: 1px;
    color: #d1d1d1;
}
.comment p1{
    font-size: 1em;
    margin-top: 2.5%;
    width: 80%;
    height: 20%;
    color: #efefef;
}
.top{
    display: grid;
    height: 15%;
    width: 49%;
}
.top-hr{
    float: right;
    margin-right: 7vw;
    margin-top: 6vh;
    width: 5px;
    height:40%;
    background-color: #4f4f4f;
}
.circleCon{
    margin-left: 15%;
    margin-top: 3%;
    width: 40%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
}
.circle, .circle2, .circle3{
    width: 1em;
    height: 1em;
    grid-row: 1;
    background-color: #3a3a3a ;
}
.circle{
    margin-left: 1em;
}
.circle2:nth-child(6){
    background-color: #373737;
}
.circle:nth-child(2),.circle2:nth-child(7){
    background-color: #3f3f3f;
}
.circle:nth-child(3),.circle2:nth-child(8),.circle3:nth-child(11){
    background-color: #424242;
}
.circle:nth-child(4),.circle2:nth-child(9),.circle3:last-child{
    background-color: #4a4a4a;
}
.circle:nth-child(5){
    background-color: #4f4f4f;
}
.circle2{
    grid-row: 2;
}
.circle3{
    grid-row: 3;
    margin-left: 1em;
}
.r-r-button{

    width: 49%;
    background-color: #2f2f2f;
    height: 52%;
}
.comment-stats{
    border-radius:0;
    border-bottom: 2px solid #ededed;
    margin-left: 5%;
    margin-top: 10%;
    width: 90%;
    height: 65%;
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.comment-button{
    margin-left: 5%;
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.c-button{
    border: none;
    background-color: rgba(0,0,0,0);
    width: 2em;
    height: 2em;
    border-radius: 99em;
    float: left;
    background-image: url("../icon/like-active.png");
    background-size: cover;
    transition: 100ms;
}
.c-button:nth-child(2){
    background-image: url("../icon/good-active.png");
}
.c-button:nth-child(3){
    background-image: url("../icon/dislike.png");
}
.stats{
    border-radius: 12px 12px 0 0;
    background-color: #ad2540;
    width: 20%;
    transition: 600ms;
}
.stats:nth-child(1) {
    height: 10px;
}
.stats:nth-child(2) {
    background-color: #055788;

}
.stats:last-child{
    background-color: #898989;
}
.l-songs{
    width: 100%;
    height: 60%;

}
.l-songs h1{
    clear: both;
    font-size: 8em;
    color: #ededed;
}
.l-songs h2{
    clear: both;
    font-size: 2em;
    color: #c1c1c1;
    margin-left: .2em;
}
.l-lyc{
    clear: both;
    margin-left: 1%;
    margin-top: 3%;
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    height:25%;
    overflow: hidden;
    color: #ededed;
    transition: 2s;
}

.l-songs button{
}
.l-songs button:active{
    animation: playButton 400ms;
}
.l-songs button:nth-child(1){
    margin-left: 1%;
    border:2px solid #ededed;
    border-radius: 100px;
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);
}
.l-songs button:nth-child(2){
    border:none;
    background:none;
    border-radius: 9999px;
    width: 4.5em;
    height: 2em;
    font-size: 1em;
    color: #333;
    background: #efefef;

}
audio{
    display: none;
}
@keyframes playButton{
    50%{
        scale: 0.8;
}
    100%{
        scale: 1;
    }
}
footer{
    margin-top: -5%;
    background-color: #3f3f3f;
    border-radius:12px;
    position: absolute;
    height: 9%;
    padding: 1% 2% 1% 1%;
    left: 3vw;
    bottom: 6vh;
    gap: 20px;
    display: flex;
}
footer > img{
    width: auto;
    height:100%;
    align-self: center;
    border: 2px solid #ededed;
    border-radius: 999px;
    animation: linear infinite 13s prof paused;
}
.footer-text-con{
    border-radius: 999px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
}
.footer-text-con > span{
    transition: 2s;
    letter-spacing: 2px;
    color: #ededed;
    font-family: "Alibaba PuHuiTi 2.0 45 Light", sans-serif ;
    align-self: center;
    white-space: nowrap;
    font-size: 1.5em;
}
.c-button:active{
    scale: .7;
    background-image: url("../icon/like-active.png");
}
.c-button:nth-child(2):active{
    background-image: url("../icon/good-active.png");
}
.c-button:nth-child(3):active{
    background-image: url("../icon/dislike.png");
}
.playHr{
    display: none;
    width: 80%;
    height: 4px;
    border-radius: 100px;
    background-color: #ededed;
    animation: infinite playHr 2s alternate;
}
.playHr1{
    display: none;
    width: 80%;
    height: 4px;
    border-radius: 100px;
    background-color: #ededed;
    animation: infinite playHr 3s alternate-reverse;
}
.playHr2{
    display: none;
    width: 80%;
    height: 4px;
    border-radius: 100px;
    background-color: #ededed;
    animation: infinite playHr 2s  alternate-reverse;
}

@keyframes playHr {
    0%{
        width: 100%;
    }
    100%{
        width: 20%;
    }
}
@keyframes prof {
    100%{
        transform: rotate(360deg);
    }
}
.buttonCard{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
